@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<ResultProductDto>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/AdminLayout/Index.cshtml";
	int count = (Model.PageNumber - 1) * Model.PageSize;
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Ürün İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Ürün Listesi</div>
					</div>
					<div class="card-body">

						<table class="table mt-3">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Ürün Adı</th>
									<th scope="col">Ürün Fiyatı</th>
									<th scope="col">Kategori</th>
									<th scope="col">Durum</th>
									<th scope="col">Düzenle</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									count++;
									<tr>
										<th>@count</th>
										<td>@item.ProductName</td>
										<td>@item.Price</td>
										<td>@item.CategoryName</td>
										<td>@(item.ProductStatus==true ? "Aktif" : "Pasif")</td>
										<td>
											<a href="/Product/DeleteProduct/@item.ProductId" class="btn btn-danger">Sil</a>
											<a href="/Product/UpdateProduct/@item.ProductId" class="btn btn-warning">Güncelle</a>
										</td>
									</tr>
								}

							</tbody>
						</table>
						<a href="/Product/CreateProduct" class="btn btn-primary">Yeni Ürün</a>
					</div>
					<div class="pagination-wrapper">
						@Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
															new PagedListRenderOptions
						{
							DisplayLinkToFirstPage = PagedListDisplayMode.Always,
							DisplayLinkToLastPage = PagedListDisplayMode.Always,
							DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
							DisplayLinkToNextPage = PagedListDisplayMode.Always,
							MaximumPageNumbersToDisplay = 5
						})
					</div>
				</div>
				
			</div>

		</div>
	</div>
</div>


<style>
	.pagination-wrapper ul {
		display: flex;
		justify-content: center;
		list-style: none;
		padding: 0;
	}

		.pagination-wrapper ul li {
			margin: 0 5px;
		}

			.pagination-wrapper ul li a {
				padding: 5px 10px;
				border: 1px solid #ccc;
				border-radius: 5px;
				text-decoration: none;
				color: #333;
			}

				.pagination-wrapper ul li a:hover {
					background-color: cornflowerblue;
					color: #fff;
				}
</style>
